<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="-mt-px flex-auto border-t pt-6">
        <div class="mx-auto w-full max-w-screen-lg">
            <!-- Course Tabs -->
            <mat-tab-group (selectedIndexChange)="onCourseTabChange($event)">
                <mat-tab
                    *ngFor="let course of myCourses; let courseIndex = index"
                    [label]="course.courseCode"
                >
                    <ng-template matTabContent>
                        <!-- Semester Selection -->
                        <div class="mt-4 flex justify-start gap-3 px-4">
                            <mat-button-toggle-group
                                name="semesterGroup"
                                appearance="standard"
                                [(value)]="selectedSemester"
                                (change)="
                                    onSemesterTabChange(
                                        courseIndex,
                                        $event.value
                                    )
                                "
                            >
                                <mat-button-toggle
                                    *ngFor="
                                        let semester of getSemesters(
                                            course.duration
                                        )
                                    "
                                    [value]="'SEMESTER_' + semester"
                                >
                                    Semester {{ semester }}
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>

                        <!-- Modules Display -->
                        <div class="mt-6 grid w-full p-3">
                            <div class="flex flex-col gap-6">
                                <!-- Loop through Modules -->
                                <div
                                    *ngFor="let module of modules"
                                    class="rounded-lg bg-white p-6 shadow-lg dark:bg-gray-800"
                                >
                                    <!-- Module Header -->
                                    <div
                                        class="flex items-center justify-between"
                                    >
                                        <div>
                                            <h3
                                                class="text-2xl font-semibold text-gray-800 dark:text-gray-100"
                                            >
                                                {{ module.moduleName }}
                                            </h3>
                                            <p
                                                class="text-lg text-gray-600 dark:text-gray-400"
                                            >
                                                {{ module.moduleCode }}
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Assignments Section -->
                                    <div class="mt-4">
                                        <h4
                                            class="text-lg font-semibold text-gray-700 dark:text-gray-300"
                                        >
                                            Assignments
                                        </h4>

                                        <!-- Loop Through Assignments -->
                                        <div
                                            *ngFor="
                                                let assignment of filteredAssignments(
                                                    module.id
                                                )
                                            "
                                            class="mt-4"
                                        >
                                            <div
                                                class="rounded-lg animated-bg p-4 shadow-md "
                                            >
                                                <!-- Assignment Header -->
                                                <div
                                                    class="flex items-center justify-between"
                                                >
                                                    <div
                                                        class="w-full rounded-lg bg-white p-4 shadow-md dark:bg-gray-800"
                                                    >
                                                        <!-- Assignment Title -->
                                                        <h5
                                                            class="text-xl font-semibold text-gray-900 dark:text-white"
                                                        >
                                                            {{
                                                                assignment.title
                                                            }}
                                                        </h5>

                                                        <!-- Due Date -->
                                                        <p
                                                            class="mt-2 text-sm font-medium"
                                                            [ngClass]="
                                                                assignment.isSubmitted
                                                                    ? 'text-gray-500'
                                                                    : 'text-gray-600 dark:text-gray-300'
                                                            "
                                                            *ngIf="
                                                                !assignment.isSubmitted
                                                            "
                                                        >
                                                            Due:
                                                            <span
                                                                class="font-bold"
                                                                [ngClass]="
                                                                    isDeadlineNear(
                                                                        assignment.deadLine
                                                                    )
                                                                        ? 'text-red-600'
                                                                        : 'text-gray-600'
                                                                "
                                                            >
                                                                {{
                                                                    assignment.deadLine
                                                                        | date
                                                                            : 'medium'
                                                                }}
                                                            </span>
                                                        </p>

                                                        <!-- Submission Details -->
                                                        <div
                                                            class="mt-3 flex flex-col gap-2"
                                                        >
                                                            <div
                                                                class="flex items-center gap-2"
                                                            >
                                                                <span
                                                                    *ngIf="
                                                                        assignment.isSubmitted
                                                                    "
                                                                    class="rounded-lg bg-green-500 px-3 py-1 text-sm font-medium text-white"
                                                                >
                                                                    Submitted
                                                                </span>
                                                                <span
                                                                    *ngIf="
                                                                        assignment.isSubmitted
                                                                    "
                                                                    class="rounded-lg bg-blue-500 px-3 py-1 text-sm font-medium text-white"
                                                                >
                                                                    {{
                                                                        assignment
                                                                            .submittedFile
                                                                            .markingStatus
                                                                    }}
                                                                </span>
                                                            </div>

                                                            <!-- Grade Display -->
                                                            <div
                                                                *ngIf="
                                                                    assignment.isSubmitted
                                                                "
                                                                class="flex w-fit items-center gap-2 rounded-lg bg-gray-700 px-3 py-2 text-white"
                                                            >
                                                                <span
                                                                    class="text-sm"
                                                                    >Grade:</span
                                                                >
                                                                <span
                                                                    class="text-lg font-semibold"
                                                                    >{{
                                                                        assignment
                                                                            .submittedFile
                                                                            .grade
                                                                    }}</span
                                                                >
                                                                <span
                                                                    class="text-sm font-medium"
                                                                    >({{
                                                                        getGradeLetter(
                                                                            assignment
                                                                                .submittedFile
                                                                                .grade
                                                                        )
                                                                    }})</span
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <button
                                                        mat-icon-button
                                                        (click)="
                                                            toggleAssignmentDetails(
                                                                assignment.id
                                                            )
                                                        "
                                                    >
                                                        <mat-icon>
                                                            {{
                                                                expandedAssignments.includes(
                                                                    assignment.id
                                                                )
                                                                    ? 'expand_less'
                                                                    : 'expand_more'
                                                            }}
                                                        </mat-icon>
                                                    </button>
                                                </div>

                                                <!-- Assignment Details (Expanded) -->
                                                <div
                                                    *ngIf="
                                                        expandedAssignments.includes(
                                                            assignment.id
                                                        )
                                                    "
                                                    class="mt-3 border-t pt-4"
                                                >
                                                    <p
                                                        class="text-sm text-white dark:text-gray-300"
                                                    >
                                                        {{
                                                            assignment.description
                                                        }}
                                                    </p>

                                                    <!-- Submission Form -->
                                                    <div
                                                        class="mt-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:bg-gray-800"
                                                        *ngIf="
                                                            !assignment.isSubmitted
                                                        "
                                                    >
                                                        <div
                                                            *ngIf="isUploading"
                                                            class="mt-4"
                                                        >
                                                            <div
                                                                class="h-2 w-full rounded-full bg-gray-200"
                                                            >
                                                                <div
                                                                    class="h-2 rounded-full bg-blue-500"
                                                                    [style.width.%]="
                                                                        uploadProgress
                                                                    "
                                                                ></div>
                                                            </div>
                                                            <p
                                                                class="mt-1 text-center text-sm text-gray-600"
                                                            >
                                                                Uploading...
                                                                {{
                                                                    uploadProgress
                                                                }}%
                                                            </p>
                                                        </div>

                                                        <!-- File Upload -->
                                                        <div
                                                            class="cursor-pointer rounded-lg border-2 border-dashed border-gray-300 p-4 text-center hover:border-blue-500"
                                                            (click)="
                                                                fileInput.click()
                                                            "
                                                        >
                                                            <input
                                                                type="file"
                                                                #fileInput
                                                                class="hidden"
                                                                (change)="
                                                                    onFileChange(
                                                                        $event
                                                                    )
                                                                "
                                                            />
                                                            <p
                                                                *ngIf="
                                                                    !selectedFile
                                                                "
                                                                class="text-gray-500"
                                                            >
                                                                Click or Drag a
                                                                file here
                                                            </p>
                                                            <p
                                                                *ngIf="
                                                                    selectedFile
                                                                "
                                                                class="font-medium text-gray-700"
                                                            >
                                                                {{
                                                                    selectedFile.name
                                                                }}
                                                            </p>
                                                        </div>

                                                        <!-- Submit Button -->
                                                        <button
                                                            mat-flat-button
                                                            color="primary"
                                                            class="mt-3 w-full"
                                                            [disabled]="
                                                                !selectedFile
                                                            "
                                                            (click)="
                                                                submitAssignment(
                                                                    assignment.id
                                                                )
                                                            "
                                                        >
                                                            Submit Assignment
                                                        </button>
                                                    </div>

                                                    <!-- Files -->
                                                    <div
                                                        *ngIf="
                                                            assignment.isSubmitted
                                                        "
                                                    >
                                                        <div
                                                            class="-m-2 mt-2 flex flex-wrap"
                                                        >
                                                            <div
                                                                class="group bg-card relative m-2 flex h-40 w-40 cursor-pointer flex-col rounded-2xl p-4 shadow"
                                                                (click)="
                                                                    downloadFile(
                                                                        assignment.submittedFile
                                                                    )
                                                                "
                                                            >
                                                                <div
                                                                    class="aspect-[9/6]"
                                                                >
                                                                    <div
                                                                        class="flex h-full items-center justify-center"
                                                                    >
                                                                        <!-- File Type Icons -->
                                                                        <div
                                                                            class="relative"
                                                                        >
                                                                            <mat-icon
                                                                                class="text-hint opacity-50 icon-size-14"
                                                                                [svgIcon]="
                                                                                    'heroicons_solid:document'
                                                                                "
                                                                            ></mat-icon>
                                                                            <div
                                                                                class="absolute bottom-0 left-0 rounded px-1.5 text-sm font-semibold leading-5 text-white"
                                                                                [class.bg-red-600]="
                                                                                    assignment
                                                                                        .submittedFile
                                                                                        .extension ===
                                                                                    'PDF'
                                                                                "
                                                                                [class.bg-blue-600]="
                                                                                    assignment
                                                                                        .submittedFile
                                                                                        .extension ===
                                                                                    'DOC'
                                                                                "
                                                                                [class.bg-green-600]="
                                                                                    assignment
                                                                                        .submittedFile
                                                                                        .extension ===
                                                                                    'XLS'
                                                                                "
                                                                                [class.bg-gray-600]="
                                                                                    assignment
                                                                                        .submittedFile
                                                                                        .extension ===
                                                                                    'TXT'
                                                                                "
                                                                                [class.bg-amber-600]="
                                                                                    assignment
                                                                                        .submittedFile
                                                                                        .extension ===
                                                                                    'JPG'
                                                                                "
                                                                            >
                                                                                {{
                                                                                    assignment.submittedFile.extension?.toUpperCase()
                                                                                }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Click to Download Animation -->
                                                                <div
                                                                    class="absolute inset-0 flex items-center justify-center rounded-xl bg-black bg-opacity-50 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
                                                                >
                                                                    <p
                                                                        class="animate-bounce text-sm font-medium text-white"
                                                                    >
                                                                        Click to
                                                                        Download
                                                                    </p>
                                                                </div>

                                                                <div
                                                                    class="flex flex-auto flex-col justify-center text-center text-sm font-medium"
                                                                >
                                                                    <div
                                                                        class="truncate"
                                                                        [matTooltip]="
                                                                            assignment
                                                                                .submittedFile
                                                                                .name
                                                                        "
                                                                    >
                                                                        {{
                                                                            assignment
                                                                                .submittedFile
                                                                                .name
                                                                        }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- No Assignments -->
                                        <p
                                            *ngIf="
                                                filteredAssignments(module.id)
                                                    .length === 0
                                            "
                                            class="mt-2 text-sm text-gray-500"
                                        >
                                            No assignments available.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
